<script setup lang="ts">
import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router';
import { VueShowdown } from 'vue-showdown';

let token = localStorage.getItem('token')
let router = useRouter()

let article = ref({
    title: '',
    description: '',
    content: ''
})
let text = ref(null)

let isPreviewVisible = ref(false)

const createArticle = async () => {

    if(!token) {
        router.push('/')
        return
    }

    if(!article.value.title || !article.value.description || !article.value.content) {
        return
    }

    let response = await fetch('/api/article', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Authorization': 'Bearer ' + token
        },
        body: JSON.stringify(article.value)
    })

    if(response.ok) {
        router.push('/admin')
    }
}

const resize = () => {
    text.value.style.height = text.value.scrollHeight + 'px'
}

onMounted(async () => {

    if(!token) {
        router.push('/')
        return
    }

    let response = await fetch('/api/admin_panel', {
        headers: {
            'Authorization': 'Bearer ' + token
        },
        method: 'POST'
    })

    if(!response.ok){
        router.push('/')
        return
    }

    let json = await response.json()

    if(!json.isAdmin) {
        router.push('/')
        return
    }
})
</script>

<template>  
    <div class="article_create">
        <div class="controlls">
            <h1>Создание статьи</h1>
            <button @click="isPreviewVisible = !isPreviewVisible" :class="{active: isPreviewVisible}">Предпросмотр</button>
            <button @click="createArticle()">Сохранить</button>
        </div>
        <input type="text" placeholder="Заголовок" v-model="article.title" class="title">
        <textarea placeholder="Краткое описание статьи" v-model="article.description" class="description"></textarea>
        <TransitionGroup name="list" tag="div" class="list">
            <div class="source" key="source">
                <textarea ref="text" placeholder="Текст статьи" v-model="article.content" class="content" @input="resize()"></textarea>
            </div>
            <div class="preview" v-if="isPreviewVisible" key="preview">
                <VueShowdown :markdown="article.content" />
            </div>
        </TransitionGroup>
    </div>
</template>

<style scoped>  
    .article_create {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        box-sizing: border-box;
        width: 100%;
    }

    .controlls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 4rem;
        align-items: center;
    }

    .title, .description{
        width: 30rem;
        max-width: 90dvw;
        border-radius: 0.5rem;
        padding: 0.5rem;
        box-sizing: border-box;
        resize: none;
    }
     .content {
        width: 100%;
        max-width: 90dvw;
        border-radius: 0.5rem;
        padding: 0.5rem;
        box-sizing: border-box;
        resize: none;
    }

    .title:focus, .description:focus, .content:focus {
        box-shadow: 0 0 0.5rem 0.1rem var(--fourth-color);
        outline: none;
    }

    .description{
        height: 5rem;
    }

    .content{
        min-height: 20rem;
    }

    .controlls button {
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--sixth-color);
        border: 1px solid var(--sixth-color);
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1em;
        font-weight: 600;
        transition: 0.2s;
    }

    .controlls button:hover {
        background-color: var(--sixth-color);
        color: var(--second-color);
    }

    .source {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
        width: 30rem;
        max-width: 90dvw;
    }

    .preview {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        box-sizing: border-box;
        width: 30rem;
        max-width: 90dvw;
    }

    .list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .active{
        background-color: var(--fifth-color) !important;
        border-color: var(--fifth-color) !important;
        color: var(--second-color) !important;
    }

    .list-move,
    .list-enter-active,
    .list-leave-active {
      transition: all 0.5s ease;
    }

    .list-enter-from,
    .list-leave-to {
      opacity: 0;
      transform: translateX(20rem);
    }

    .list-leave-active {
        position: absolute;
        right: 0;
    }
</style>