<script setup lang="ts">
    import { onMounted, ref } from 'vue';
    import { useRouter } from 'vue-router';

    let router = useRouter()

    let articles = ref([])

    let isLoading = ref(true)

    onMounted(async () => {

        isLoading.value = true

        let response = await fetch('/api/articles')

        if(!response.ok) {
            router.push('/')
            return
        }
        let json = await response.json()

        articles.value = json.articles

        isLoading.value = false
    })
</script>

<template>
    <div class="articles_container">
        <div class="loading" v-if="isLoading">
            <label>Загрузка...</label>
        </div>
        <div v-else>
            <h1 class="heading">Наши статьи</h1>
            <ul class="articles">
                <li v-for="article in articles" :key="article.id">
                    <div class="article_content" @click="router.push({path: 'article/' + article.id})">
                        <label class="block_name">{{article.title}}</label>
                        <p class="block_description">{{article.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</template>

<style scoped>
    .articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 50rem;
        max-width: 90dvw;
    }

    .articles_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
    }

    .article_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
        box-sizing: border-box;
        background-color: var(--second-color);
        box-shadow: 0 0 0.3rem 0.1rem var(--first-color);
        border-radius: 0.5rem;
        cursor: pointer;
        width: 15rem;
    }

    .article_content > *{
        margin: 0;
        padding: 0;
    }

    .block_description {
        opacity: 0.6;
    }

    .heading {
        text-align: center;
    }
</style>