<script setup lang="ts">
import { computed, ref } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter()

let user_data = ref({
    login: '',
    password: '',
})

let isAuthorisationAllowed = computed(() => {
    return user_data.value.login && user_data.value.password
})

const register = async () => {
    
    if(!isAuthorisationAllowed.value) {
        return
    }

    let response = await fetch('/api/login', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(user_data.value)
    })
    
    if(response.ok) {
        let json = await response.json()

        console.log(json)

        if(json.token) {
            localStorage.setItem('token', json.token)
        }

        router.push('/profile')
    }

}

</script>

<template>
    <div class="register_container">
        <div class="register_block">
            <h1>Вход</h1>
            <div class="field">
                <label for="login">Логин</label>
                <input type="text" name="login" v-model="user_data.login">
            </div>
            <div class="field">
                <label for="password">Пароль</label>
                <input type="password" name="password" v-model="user_data.password">
            </div>
            <button @click="register" :disabled="!isAuthorisationAllowed">Зарегистрироваться</button>
        </div>
    </div> 
</template>

<style scoped>

    .register_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 70vh;
    }

    .register_block {
        margin-top: 7rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 3rem;
        box-sizing: border-box;
        gap: 2rem;
        background-color: var(--tird-color);
        border-radius: 1rem;
    }

    h1{
        margin: 0;
        padding: 0;
    }

    .field {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .field label {
        position: absolute;
        background: linear-gradient(var(--tird-color) 45%, var(--second-color) 55%);
        padding: 0;
        margin: 0;
        top: -0.6rem;
        left: 1rem;
    }

    .field span {
        color: var(--fifth-color);
        margin: 0 1rem;
    }

    input {
        padding: 0.7rem;
        border: 3px solid var(--first-color);
        border-radius: 0.5rem;
        width: 15rem;
        transition: 0.2s all;
    }

    input:focus {
        outline: none;
        border: 3px solid var(--sixth-color);
    }

    button {
        padding: 0.5rem 1rem;
        background-color: var(--fourth-color);
        color: var(--second-color);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
    }
</style>