<script setup>
    import { ref } from 'vue'
    import { useRouter } from 'vue-router';

    let router = useRouter()

    let isRegistered = ref(localStorage.getItem('token'))

    const exit = () => {
        localStorage.removeItem('token')
        router.push('/')
        isRegistered.value = false
    }
</script>

<template>
    <div class="header">
        <router-link to="/">
            <img src="../assets/logo.svg">
        </router-link>
        <div class="nav">
            <router-link to="/">На главную</router-link>
            <router-link to="/articles">Статьи</router-link>
            <router-link to="/tests">Тесты</router-link>
            <template v-if="isRegistered">
                <router-link to="/profile">Личный кабинет</router-link>
                <button @click="exit()" class="exit">Выход</button>
            </template>
            <template v-else>
                <router-link to="/register">Зарегистрироваться</router-link>
                <router-link to="/authorise">Войти</router-link> 
            </template>
        </div>
    </div>
</template>

<style scoped>
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        background-color: var(--first-color);
        color: var(--second-color);
    }

    .header img {
        height: 3rem;
    }

    .nav{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        font-weight: 600;
    }

    .exit {
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--second-color);
        border: 1px solid var(--second-color);
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
        transition: 0.2s;
    }

    .exit:hover {
        background-color: var(--second-color);
        color: var(--first-color);
    }
</style>