<script setup lang="ts">
import { onMounted } from 'vue'
import { useRouter } from 'vue-router'
import { ref } from 'vue'

let router = useRouter()

interface Article {
    id: number,
    title: string,
    description: string
}

interface Test {
    id: number,
    name: string,
    description: string
}

let tests = ref([] as Test[])
let articles = ref([] as Article[])

let isLoading = ref(true)

onMounted(async () => {

    isLoading.value = true

    let arcticleResponse = await fetch('/api/articles')

    if(arcticleResponse.ok) {
        let json = await arcticleResponse.json()

        articles.value = json.articles
    }

    let testResponse = await fetch('/api/tests')

    if(testResponse.ok) {
        let json = await testResponse.json()

        tests.value = json.tests
    }

    isLoading.value = false

})

</script>

<template>
    <div class="main_block">
        <h1>Онлайн тестирование</h1>
        <label>Удобный способ проверить себя через интернет</label>
        <button>Начать тестирование</button>
    </div>
    <div class="loading" v-if="isLoading">
        <label>Загрузка...</label>
    </div>
    <template v-else>
        <div class="articles_container">
            <h1>Наши статьи</h1>
            <ul class="articles">
                <li v-for="article in articles" :key="article.id">
                    <div class="article_content" @click="router.push({path: 'article/' + article.id})">
                        <label class="block_name">{{article.title}}</label>
                        <p class="block_description">{{article.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="tests_container">
            <h1>Тесты</h1>
            <ul class="tests">
                <li v-for="test in tests" :key="test.id">
                    <div class="test_content" @click="router.push({path: 'test/' + test.id})">
                        <label class="block_name">{{test.name}}</label>
                        <p class="block_description">{{test.description}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </template>
    
    
</template>

<style scoped>
    .main_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 80dvh;
        padding: 5rem;
        box-sizing: border-box;
        gap: 2rem;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/background.jpg');
        background-size: cover;
        background-position: center;
        color: var(--second-color);
    }

    .main_block button {
        padding: 0.5rem 1rem;
        background-color: var(--fourth-color);
        color: var(--second-color);
        border: none;
        border-radius: 0.5rem;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
    }

    .articles, .tests {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 50rem;
        max-width: 90dvw;
    }

    .articles_container, .tests_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .article_content, .test_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 0.5rem;
        padding: 1rem;
        box-sizing: border-box;
        background-color: var(--second-color);
        box-shadow: 0 0 0.3rem 0.1rem var(--first-color);
        border-radius: 0.5rem;
        cursor: pointer;
        width: 15rem;
    }

    .article_content > *, .test_content > * {
        margin: 0;
        padding: 0;
    }

    .block_description {
        opacity: 0.6;
    }

    .block_name{
        font-weight: 700;
        font-size: 1.2em;
    }
</style>