<script setup lang="ts">

interface User {
    login?: string,
    email?: string
}

import { onMounted, ref } from 'vue'
import { useRouter } from 'vue-router';

let router = useRouter()

let isLoading = ref(true)
let isError = ref(false)
let errorMessage = ref('')

let user = ref<User>({} as User)

const getInfo = async () => {
    let response = await fetch('/api/profile', {
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        }
    })

    if(response.ok) {
        let json = await response.json()
        console.log(json)
        user.value = json
        isLoading.value = false
    } 
    else {
        router.push('/')
    }
}

onMounted(async () => {
    getInfo()
})

const deleteResult = async (result_id) => {
    let response = await fetch('/api/result/' + result_id, {
        method: 'DELETE',
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem('token')
        }
    })

    if(response.ok) {
        getInfo()
    }
}
</script>

<template>
    <div v-if="isLoading">Загрузка...</div>
    <template v-else>
        <div class="profile">
            <div class="user_data">
                <h1>Профиль</h1>
                <label>Логин: {{ user.name }}</label>
                <label>Электронная почта: {{ user.email }}</label>
            </div>
        </div>
        <div class="results">
            <h1>Мои Результаты</h1>
            <ul class="results_list">
                <li v-for="result in user.test_results" class="result">
                    <div class="controlls">
                        <label class="test_name">{{ result.test.name }}</label>
                        <button class="delete" @click="deleteResult(result.id)">Удалить</button>
                    </div>
                    <p class="description">{{ result.description }}</p>
                </li>
            </ul>
        </div>
    </template>
</template>

<style scoped>
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        gap: 2rem;
    }

    .user_data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        gap: 1rem;
    }

    .user_data p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        gap: 1rem;
    }

    .results_list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 1rem;
        width: 50rem;
    }

    .result{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;
        background-color: var(--second-color);
        box-shadow: 0 0 0.3rem 0.1rem var(--first-color);
        border-radius: 0.5rem;
    }

    .test_name {
        font-weight: 600;
        font-size: 1.2em;
    }

    .description {
        opacity: 0.8;
        padding: 0;
        margin: 0;
    }

    .controlls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }

    .delete {
        padding: 0.5rem 1rem;
        background-color: transparent;
        color: var(--fifth-color);
        border: 1px solid var(--fifth-color);
        border-radius: 0.5rem;
        cursor: pointer;
        font-weight: 700;
        transition: 0.2s;
    }

    .delete:hover {
        background-color: var(--fifth-color);
        color: var(--second-color);
    }
</style>